#navbar {
  font-family: 'Outfit';
  width: 100%;
  height: 70px;
  position: sticky;
}

#containerNav {
  padding-left: 5%;
  padding-right: 5%;
}

#digital {
  color: #0066ff;
}

#brand {
  font-weight: bold;
  font-size: 21px;
  padding-right: 60px;
}

.nav-link {
  margin-right: 20%;
}

.navbarOffcanvas {
  font-family: 'Outfit';
}

.nav-link:hover {
  color: #0066ff;
}
