@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: black;
  padding: 1.5rem;
  font-family: 'Outfit';
}

header a {
  color: #ffffff;
  text-decoration: none;
  font-size: 21px;
  margin: 5%;
}
